* {
    box-sizing: border-box;
}
body {
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); /* dodaj ovo */
    width: 30%;
    height: 60%;
}
.cell {
    width: 100%;
    border: 1px solid black;;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.reset {
    padding: 10px 30px;
    background-color: rgb(255, 238, 2);
}
.header {
    font-family: 'Carmen', sans-serif;
    font-size: 45px;
}
h3 {
    font-family: 'Carmen', sans-serif;
    font-size: 35px;

}